$checkbox-size: 20px

$checkbox-rect-size: $checkbox-size * 0.4
$checkbox-rect-bg: $acc

$checkbox-bg: #F6F6F6
$checkbox-bg-hover: #E2E2E2
$checkbox-bg-checked: #F6F6F6
$checkbox-disabled-opacity: 0.2

$checkbox-stroke: rgba($black, 0.3)
$checkbox-stroke-hover: rgba($black, 0.6)




// Parent
.checkbox  
  line-height: 1
  
  transition: $trs
  cursor: pointer

  display: inline-block
  padding-left: $checkbox-size
  position: relative


// Rect
.checkbox__rect
  content: ''
  position: absolute
  top: 0.08em
  left: 0

  width: $checkbox-size
  height: $checkbox-size

  cursor: pointer
  transition: $trs
  border-radius: 2px
  background: $checkbox-bg

.checkbox__rect::before
  content: ''
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

  width: $checkbox-rect-size
  height: $checkbox-rect-size

  background: $checkbox-rect-bg
  transition: $trs
  opacity: 0


// Text
.checkbox__text
  display: inline-block
  vertical-align: middle
  padding-left: 16px
  cursor: pointer

// Num
.checkbox__num
  margin-left: -2px
  opacity: 0
  transition: $trs


// Input
.checkbox__field
  position: absolute
  top: 0
  left: 0

  opacity: 0
  cursor: pointer

  width: $checkbox-size
  height: $checkbox-size


// Hover
.checkbox__field:hover:not(:disabled) ~ .checkbox__rect
  background: $checkbox-bg-hover
.checkbox__field:hover:not(:disabled) ~ .checkbox__text .checkbox__num
  opacity: 1
  

// Checked
.checkbox__field:checked ~ .checkbox__rect
  background: $checkbox-bg-checked

.checkbox__field:checked ~ .checkbox__rect::before
  opacity: 1
  

// Disabled
.checkbox__field:disabled,
.checkbox__field:disabled ~ .checkbox__text,
.checkbox__field:disabled ~ .checkbox__rect
  pointer-events: none
  user-select: none

.checkbox__field:disabled ~ .checkbox__text
  opacity: $checkbox-disabled-opacity




/* RADIO */
.checkbox--radio
  .checkbox__rect,
  .checkbox__rect::before
    border-radius: 50%




/* OUTLINED */
.checkbox--outlined
  // Rect
  .checkbox__rect
    background: 0
    border: 1px solid $checkbox-stroke

  // Hover
  .checkbox__field:hover:not(:disabled) ~ .checkbox__rect
    background: 0
    border: 1px solid $checkbox-stroke-hover

  // Checked
  .checkbox__field:checked ~ .checkbox__rect
    background: 0




/* SWITCH */
.checkbox--switch
  padding-left: 32px

  // Rect
  .checkbox__rect
    width: 32px
    border-radius: 40px

  .checkbox__rect::before
    border-radius: 50%
    opacity: 1

    left: 0
    transform: translate(6px, -50%)

  // Checked
  .checkbox__field:checked ~ .checkbox__rect::before
    transform: translate(18px, -50%)

  // Disabled
  .checkbox__field:disabled ~ .checkbox__rect::before
    opacity: $checkbox-disabled-opacity

