.modal
  z-index: 2
  position: fixed
  top: 0
  left: 0

  width: 100vw
  +vh

  pointer-events: none

.modal .overlay
  transition: $trs-4

.modal.active
  pointer-events: auto

  .modal__container
    transform: translateX(0)


// Container
.modal__container
  position: relative

  width: modal-w()
  height: 100%

  padding-bottom: $btn-h

  transform: translateX(-101%)
  transition: $trs-4
  background: #fff
  

// List
.modal__content
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: $btn-h

  width: 100%
  max-height: calc(#{100%} - #{$btn-h})
  +scrollbar


// Button
.modal__stick
  position: absolute
  bottom: 0
  left: 0
  right: 0

  width: 100%

